<script lang="ts">
    import 'uikit';
    let pgs = $state(0);
    let baseUrl= import.meta.env.VITE_API_URL;

    let sub = async (event) => {
      const p = document.getElementById("p") as HTMLElement;
      p.style["display"] = "block";
      const counter = document.getElementById("p-value") as HTMLElement;
      const text = document.getElementById("p-text") as HTMLElement;
      counter.setAttribute("value", "10");
      text.innerHTML = `Siunčiama...`;

      const data = new FormData(event.currentTarget);
      const response = await fetch(`${baseUrl}/invoice_generator/start`, {
			method: 'POST',
			body: data
      });
      counter.setAttribute("value", "5");
      const checkJobStatus =async (uuid: string) => {
        const response = await fetch(`${baseUrl}/job/status/${uuid}`, {
			method: 'GET'
        });
        const rr = await response.json();
        console.log(rr);
        if(rr["job_status"] == "created") {
          text.innerHTML = `Pateikta užklausa: ${uuid}`;
          counter.setAttribute("value", "20");
            setTimeout(() => {
              checkJobStatus(uuid);
            },200);
        }
        if(rr["job_status"] == "started") {
          text.innerHTML = `Pradėta užduotis: ${uuid}`;
          counter.setAttribute("value", "40");
          setTimeout(() => {
            checkJobStatus(uuid);
          },200);
        }
        if(rr["job_status"] == "finished"){
          text.innerHTML = `Baigta!`;
          counter.setAttribute("value", "100");
          const response = await fetch(`${baseUrl}/job/artifact/${uuid}`, {
			method: 'GET'
                });
          const b = await response.blob();

          const url = URL.createObjectURL(b);

          // Create a link element
          const link = document.createElement('a');
          link.href = url;
          link.download = 'invoices.zip'; // Filename to be downloaded
          link.click();

        }
        if(rr["job_status"] == "failed"){
          const meta = rr["metadata"];
          text.innerHTML = `Klaida! <pre style="color: #cc6060">${meta}</pre>`;
          counter.setAttribute("value", "0");
        }
      }
      if(response.ok) {
        const j = await response.json();
        text.innerHTML = `Gauta...`;
        counter.setAttribute("value", "10");
        console.log(j);
        const uuid = j["uuid"];
        text.innerHTML = `Gauta užklausa su id: ${uuid}`;
        checkJobStatus(uuid);
      }

    }


</script>
<div class="uk-container uk-container-xlarge uk-margin-top">
<div uk-grid>
    <div class="uk-card  uk-card-default uk-width-1-1">
        <h3 class="uk-margin-top">Sąskaitos faktūros</h3>
<form class="uk-margin-top uk-form-stacked" on:submit|preventDefault={sub}>
<div class="uk-margin uk-align-center" uk-margin>
    <div>
        <label class="uk-form-label">Pirmas serijos numeris</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-width-1-4" name="serialStart" type="number" required>
        </div>
    </div>
<label class="uk-form-label">Užsakymų failas</label>
    <div uk-form-custom="target: true">
        <input type="file" name="file" accept=".csv" aria-label="Custom controls" required>
        <input class="uk-input uk-form-width-medium" type="text" placeholder="Pasirinkite .csv failą" aria-label="Custom controls" disabled>
    </div>
    <button class="uk-button uk-button-default" >Pradėti</button>
</div>

</form>
</div>
<div class="uk-card  uk-card-default uk-width-1-1 uk-padding uk-animation-slide-top" id="p" style="display: none">
    <p class="uk-text-muted" id="p-text"></p>
    <progress id="p-value" class="uk-progress" value={pgs} max="100">
    </div>
</div>

</div>
<style lang="scss">
    .btn {
        cursor: pointer;
        background: #404040;
        color: white;
        user-select: none;
    }

</style>
