<style>
    body {
        margin: 80px;
        margin-right: 40px;

    }

    table {
        width: 100%;
    }

    .inf > p {
        font-size: smaller;
        line-height: 1em;
    }
    td {
        padding: 10px;
        outline: 1px solid #000;
        vertical-align: top;
    }

    .center {
        display: block;
        width: 100%;
        text-align: center;
    }
</style>
<html>
    <body>
        <h1>{{ title }}</h1>
        <p>{{ serialNum }}</p>
        <p>{{ date }}</p>

        <table>
            <tr>
                <td class="inf">
                    <strong class="center">Pardavėjo rekvizitai</strong>
                    <p>Pavadinimas UAB ,,Autobiznis’’</p>
                    <p>Įmonės kodas / Asmens kodas: 306014892</p>
                    <p>Adresas: Laisvės al. 110, Kaunas</p>
                    <br>
                    <p>Telefonas +37069662268</p>
                    <p>El. p. adresas: autobiznis@proton.me</p>
                    <br>
                    <p>Seb bankas</p>
                    <p>IBAN: LT847044090103240874</p>
                </td>
                <td class="inf">
                    <strong class="center">Pirkėjo rekvizitai</strong>
                    <p>Pavadinimas: {{ buyerName }}</p>
                    <p>Adresas: {{ buyerAddress }}</p>
                </td>
            </tr>
        </table>
        <br>
        <table style="text-align: center; font-size: smaller;">
            <tr style="font-weight: bold;">
                <td>Eil. Nr.</td>
                <td>Prekės ar paslaugos pavadinimas</td>
                <td>Kiekis</td>
                <td>Kaina, USD</td>
                <td>Valiutos kursas</td>
                <td>Kaina, EUR</td>
                <td>PVM 0%</td>
                <td>Suma</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Autodalys</td>
                <td>1</td>
                <td>{{ totalUsd }}</td>
                <td>{{ usdRate }}</td>
                <td>{{ total }}</td>
                <td>0</td>
                <td>{{ total }} EUR</td>
            </tr>
        </table>
        <br>
        <h5>Pastaba: Taikoma OSS sistema</h5>
        <br>
        <table style="float: right; width: fit-content;">
            <td style="padding-left: 20px; padding-right: 20px"><strong>Iš viso:</strong></td>
            <td>{{ total }} EUR</td>
        </table>
    </body>
</html>